implementation-artifacts/kubernetes-update/src/main/webapp/wsdl/org.opentosca.nodetypeimplementations.KubernetesUpdate.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="KubernetesUpdateService" targetNamespace="http://nodetypeimplementations.opentosca.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nodetypeimplementations.opentosca.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nodetypeimplementations.opentosca.org/" elementFormDefault="unqualified" targetNamespace="http://nodetypeimplementations.opentosca.org/" version="1.0">
<xs:element name="update" type="tns:update"/>
<xs:complexType name="update">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="kubeConfigContents" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="clusterNamespace" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="PodName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="ContainerID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="update">
    <wsdl:part name="parameters" element="tns:update">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="KubernetesUpdate">
    <wsdl:operation name="update">
      <wsdl:input name="update" message="tns:update">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KubernetesUpdateServiceSoapBinding" type="tns:KubernetesUpdate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="update">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="update">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KubernetesUpdateService">
    <wsdl:port name="KubernetesUpdatePort" binding="tns:KubernetesUpdateServiceSoapBinding">
      <soap:address location="http://localhost:9090/KubernetesUpdatePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
